@model List<AlunoModel>
@{
    ViewData["Title"] = "Lista de alunos";
}

<div class="container d-flex flex-column justify-content-center align-items-center ">
    <h1 class="display-4 text-center">Lista de Alunos</h1>

    <div class="w-75 text-center">
        <table class="table table-striped-columns table-dark">
            <thead>
            <tr>
                <th scope="col" class="w-50">Nome</th>
                <th scope="col" class="w-25">Data de Nascimento</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td>@aluno.Nome</td>
                    <td>@aluno.DataNascimento.ToString("dd/MM/yyyy")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>